@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.h1 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem auto 4rem;
}

.loading {
  animation: blink 2s infinite;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 3rem;
  align-items: center;
  gap: 3rem;
}
