@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-backdrop {
  position: fixed; /* Ensures it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  z-index: 1; /* Place it below the modal but above other content */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: clamp(500px, 80%, 800px);
  max-height: 800px;
  overflow-y: auto;
}

.post-error {
  font-size: 1.5rem;
  text-align: center;
}

.loading {
  text-align: center;
  animation: blink 2s infinite;
}

.post-loading {
  font-size: 1.6rem;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
}

.title {
  font-size: 2rem;
  align-self: center;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}

.login-message {
  text-align: center;
}

.postcomment-error {
  color: darkred;
}

.add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-content {
  resize: none;
  padding: 0.5rem;
}

.add-comment-btn {
  align-self: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  background-color: #facc15; /* bright golden yellow */
  color: #1a1a1a;
  transition: transform 0.3s;
}

.add-comment-btn:hover {
  transform: scale(1.2);
}

.comments-heading {
  display: block;
  margin: 2rem auto 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-header {
  display: flex;
  gap: 1rem;
}

.commenter {
  margin-right: auto;
}

.comment-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s;
  border: none;
}

.comment-btn:hover {
  transform: scale(1.1);
}

.comment-edit-btn {
  background-color: #a8e6a3;
  color: #1a3e1a;
}

.comment-delete-btn {
  background-color: #f6a8a8;
  color: #660000;
}

.edit-comment-text {
  resize: none;
  padding: 0.5rem;
}

.comment-date {
  align-self: end;
  opacity: 0.6;
  margin-top: 1rem;
}
