.links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 1rem;
  margin-left: 2rem;
}

.link {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  transition: transform 0.3s;
}

.link:hover {
  transform: scale(1.05);
}
